/* css/media.css */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul.nav-links {
    display: none;
    flex-direction: column;
    background: var(--primary-color);
    width: 100%;
    padding: 1rem;
  }

  nav ul.nav-links.show {
    display: flex;
  }

  #hamburger {
    display: block;
  }
}

@media (min-width: 769px) {
  nav ul.nav-links {
    display: flex !important;
  }

  #hamburger {
    display: none !important;
  }
}
